* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    height: 100vh;
    font-size: 18px;
  }
  
  /* se a tela tiver pelo menos 400px vai carregar estes estilos  */
  @media (min-width: 400px){
    body{
        font-size: 14px;
        
    }
}

/*Breakpoints*/
@media (min-width: 600px){
    body{
        font-size: 14px;
       
        
    }
}


  
  header {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    color: teal;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    color: silver;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
  }
  
  .img-portifolio {
    height: 180px;
    width: 180px;
  }
